@page "/courses"

@rendermode InteractiveServer

@inject ICoursesDataService dataService
@attribute [Authorize]

<h3>Courses Page</h3>

@if(courses == null)
{
    <p>...loading</p>
}
else
{
    <ul class="list-group">
    @foreach(var course in courses)
    {
        <li class="list-group-item">
                @course.Number - @course.Name &nbsp;&nbsp; 
                <button class="btn btn-primary" type="button" @onclick="(() => SelectCourse(course))">Select</button>
                <button class="btn btn-danger" type="button" @onclick="(() => DeleteCourseAsync(course))">Delete</button>
        </li>
    }
    </ul>
    <button class="btn btn-primary" type="button" @onclick="AddCourse">Add Course</button>
}

<ModalDialogue @ref="popup" Title="Test Message" SubmitMethod="UpdateCourseAsync">
    @if (course == null)
    {
        <p>Please select a course from above.</p>
    }
    else
    {
        <p>Id: @course.Id</p>
        <div class="mb-3">
            <label for="number" class="form-label">Number</label>
            <input @bind-value="course.Number" type="text" class="form-control" id="number" aria-describedby="course number">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input @bind-value="course.Name" type=" text" class="form-control" id="name" aria-describedby="course name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea @bind="course.Description" class="form-control" id="description" aria-describedby="course description" />
        </div>
        <p>
           
        </p>
    }
</ModalDialogue>

@code {
    private ModalDialogue popup;
    protected List<Course>? courses = default!;
    protected Course? course = default!;

    protected override async Task OnInitializedAsync()
    {
        courses = await dataService.GetAllAsync();
    }

    protected void SelectCourse(Course course)
    {
        this.course = course;
        popup.ShowModal();
    }

    protected async Task UpdateCourseAsync()
    {
        if(course == null)
        {
            //TODO: Display error
            return;
        }
        if(course.Id == null)
        {
            await dataService.AddAsync(course);
            courses = await dataService.GetAllAsync();
        }
        else
        {            
            await dataService.UpdateAsync(course);
        }
        course = null;
        StateHasChanged();
        popup.CloseModal();
    }

    protected async Task DeleteCourseAsync(Course course)
    {
        if (course == null)
        {
            //TODO: Display error
            return;
        }
        await dataService.DeleteAsync(course);
        courses = await dataService.GetAllAsync();
    }

    protected void AddCourse()
    {
        course = new Course();
        popup.ShowModal();
    }
}
